---
import BlogPost from "@/components/BlogPost/BlogPost.astro";
import MainLayout from "@/layouts/MainLayout.astro";
---

<MainLayout title="Hello World!">
  <h1 class="text-3xl font-bold underline">Hello world! This is Astro.</h1>

  <div class="grid grid-cols-1 gap-8 mt-8 md:mt-16 md:grid-cols-2">
    <BlogPost />
    <BlogPost />
    <BlogPost />
    <BlogPost />
  </div>
</MainLayout>
