---

---

<div class="lg:flex flex-col">
  <img
    class="object-cover w-full h-56 rounded-lg"
    src="https://images.unsplash.com/photo-1497032628192-86f99bcd76bc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"
    alt=""
  />

  <div class="flex flex-col justify-between">
    <a href="#"> How to use sticky note for problem solving </a>

    <span class="text-sm text-gray-500">On: 20 October 2019</span>
  </div>
</div>
