---
import { formatDate } from "@/utils/Formater";
const { frontmatter, url, ...props } = Astro.props;
---

<div class="lg:flex flex-col">
  <img
    class="object-cover w-full h-56 rounded-lg"
    src={frontmatter.image}
    alt=""
  />

  <div class="flex flex-col justify-between">
    <a href={url}> {frontmatter.title} </a>

    <span class="text-sm text-gray-500">
      {formatDate(frontmatter.date)}
    </span>
  </div>
</div>
